# Systemd service file for the laser's LCD service
[Unit]
Description=Laser LCD Display
Before=systemd-user-sessions.service

[Service]
Type=simple
WorkingDirectory=/home/pi/Laser_Monitor
ExecStart=/home/pi/Laser_Monitor/laser_lcd
User=pi
StandardOutput=syslog+console
StandardError=syslog+console

ExecStop=/bin/kill -s TERM $MAINPID
User=pi

[Install]
WantedBy=multi-user.target
